@import "variables";
@import "fonts";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  background-color: $lightBlack;
}

.container {
  width: 290px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  
  @media (min-width: $tablet-width) {
    padding: 0 29px;
    width: 710px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
    width: 1184px;
  }
}

.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.button {
  display: inline-block;
  border: 1px solid #A07B50;
  padding: 15px 18px 16px;

  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding: 18px 35px 17px;
  }
}

.section-title {
  margin: 0;

  font-family: "Yeseva One", "Georgia", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  
  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.section-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #A07B50;
  
  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.header {
  position: relative;
  text-align: center;
  padding: 27px 0 256px;
  background-color: $black;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 28px 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 0 114px;
  }
}

.header__inner {
  position: relative;
  @media (min-width: $desktop-width) {
    padding-left: 111px;
  }
}

.logo {
  display: block;
}

.header__logo {
  margin: 0 0 57px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 114px;
  }
}

.header__city {
  margin: 0 0 20px;

  font-weight: 400;
  line-height: 1.5;
  color: #A07B50;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 18px;
  }
}

.main-title {
  margin: 0 0 25px;

  font-family: "Yeseva One", "Georgia", serif;
  font-size: 36px;
  line-height: normal;


  @media (min-width: $tablet-width) {
    font-size: 52px;
    margin-bottom: 22px;
  }
}

.header__description {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
  
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.header__button-more {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.header__cat-photo {
  display: block;

  position: absolute;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 62px;
  }

  @media (min-width: $desktop-width) {
    top: -0;
    right: -49px;
  }
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;

  }

.header__social-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: -15px;

    &::before {
      content: "";

      width: 1px;
      height: 77px;

      position: absolute;
      top: -109px;
      left: 5px;
      background-color: #fff;
    opacity: 0.6;
    }
  }
}

.social-list__item {
  margin-right: 11px;

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.pets {
  padding: 60px 0;
  text-align: center;
  
  @media (min-width: $tablet-width) {
    padding: 100px 0 91px;
  }

  @media (min-width: $desktop-width) {
    padding: 223px 0 83px;
  }
}

.pets__title {
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.pets__description {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    max-width: 522px;
    margin: 0 auto 40px;
  }
}

.pets-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pets-list__item {
  margin-right: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  opacity: 0.2;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  &:hover {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}

.pets__pets-list {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.pets__pets-slider {
  margin: 0 0 12px;
  @media (min-width: $desktop-width) {
    padding-left: 72px;
  }
}

.pets-slider {
  position: relative;
}

.pets-slider__photo {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 3;
    display: inline-block;
    text-align: left;

    margin-right: 34px;
    margin-bottom: 19px;
  }
  &--bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      position: static;
      transform: none;
    }
  }

  &--left {
    left: 36px;
  }

  &--right {
    right: 67px;
  }
}


.cat-gallery {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 552px;
    margin-right: -34px;

  }
}

.pets-slider__button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;

  padding: 0;

  background: none;
  border: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }


  &--left {
    left: 0;
    padding-left: 5px;
    transform: rotate(180deg);
  }

  &--right {
    right: 0;
    padding-left: 5px;
  }
}

.pets-slider__button svg {
  display: block;
}

.breed-features {
  padding: 0 0 60px;
  text-align: center;
  
  @media (min-width: $tablet-width) {
    padding: 0 0 73px;
  }
}

.breed-features__title {
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.breed-features__description {
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    max-width: 450px;
    margin: 0 auto 51px;
  }

  @media (min-width: $tablet-width) {
    max-width: 735px;
    margin: 0 auto 34px;
  }
}

.breed-features__wrapper {
  position: relative;
}

.breed-features__img {
  margin: 0 0 40px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.breed-features-list {
  margin: 0 0 -30px;
  padding: 0;
  list-style: none;
  text-align: left;
}

.breed-features-list__item {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;

  &::before {
    content: "";

    width: 8px;
    height: 8px;
    flex-shrink: 0;
    background-color: $lightBrown;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;

    line-height: inherit;
    
    @media (min-width: $desktop-width) {
      width: 15px;
      height: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    line-height: 1.5;

    &:nth-child(1) {
      max-width: 170px;
      left: 15px;
      top: 116px;
      flex-direction: row-reverse;
      text-align: right;

      &:before {
        margin: 0 0 0 15px;
      }
    }

    &:nth-child(2) {
      max-width: 150px;
      right: 5px;
      top: 189px;

      &:before {
        margin: 0 13px 0 0;
      }
    }

    &:nth-child(3) {
      max-width: 122px;
      right: 46px;
      bottom: 60px;

      &:before {
        margin: 0 11px 0 0;
      }
    }

    &:nth-child(4) {
      max-width: 152px;
      left: 5px;
      bottom: 95px;
      flex-direction: row-reverse;
      text-align: right;

      &:before {
        margin: 0 0 0 11px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    line-height: 1.5;

    &:nth-child(1) {
      max-width: 290px;
      left: 45px;
      top: 172px;
      flex-direction: row-reverse;
      text-align: right;

      &:before {
        margin: 0 0 0 23px;
      }
    }

    &:nth-child(2) {
      max-width: 195px;
      right: 94px;
      top: 283px;

      &:before {
        margin: 0 20px 0 0;
      }
    }

    &:nth-child(3) {
      max-width: 175px;
      right: 150px;
      bottom: 125px;

      &:before {
        margin: 0 18px 0 0;
      }
    }

    &:nth-child(4) {
      max-width: 230px;
      left: 75px;
      bottom: 176px;
      flex-direction: row-reverse;
      text-align: right;

      &:before {
        margin: 0 0 0 17px;
      }
    }
  }
}

.breed-features__list {
  @media (min-width: $tablet-width) {
    min-height: 470px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 700px;
  }
}

.features {
  padding: 60px 0;
  text-align: center;
  background-color: $black;
  
  @media (min-width: $tablet-width) {
    padding: 84px 0 100px;
  }
}

.features__title {
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.features__description {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 58px;
    max-width: 450px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    max-width: 735px;
  }
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0 0 -30px;

  @media (min-width: $tablet-width) {
    margin-bottom: -42px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    margin-right: -28px;
  }
}

.features-list__item {
  display: flex;

  min-height: 248px;
  padding: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: $lightBlack;
  
  &:hover .features-list__inner {
    background-color: $lightBrown;
  }

  &--med .features-list__inner {
    background: url("../images/features-1.svg") no-repeat center top 40px;

    @media (min-width: $tablet-width) {
      background-size: 97px;
    }
  }

  &--cons .features-list__inner {
    background: url("../images/features-2.svg") no-repeat center top 48px;

    @media (min-width: $tablet-width) {
      background-size: 107px;
    }
  }

  &--feed .features-list__inner {
    background: url("../images/features-3.svg") no-repeat center top 40px;

    @media (min-width: $tablet-width) {
      background-size: 70px;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 360px;
    min-height: 306px;
    padding: 17px 20px;
    margin: 0 auto 42px;

    font-size: 16px;
    line-height: 1.6;
  }

  @media (min-width: $desktop-width) {
    margin: 0 28px 42px 0;
  }
}

.features-list__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 30px;

  @media (min-width: $tablet-width) {
    padding: 40px;
  }
}

.cat-care {
  padding: 60px 0;
  background: url("../images/cat-care.jpg") no-repeat center;
  background-size: cover;
  
  @media (min-width: $tablet-width) {
    padding: 90px 0 105px;
  }


}

.cat-care__title {
  margin: 0 0 40px;

  @media (min-width: $desktop-width) {
    margin: 0 0 48px;
  }
}

.care-list {
  list-style: none;
  margin: 0 0 -30px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: -25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;


    margin: 0 -41px -43px 0
  }
}

.care-list__item {
  display: flex;

  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.3);

  @media (min-width: $tablet-width) {
    max-width: 558px;
    min-height: 168px;
    margin: 0 auto 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 41px 43px 0;
  }
}

.care-list__item-inner {
  padding: 25px 5px 25px 25px;

  @media (min-width: $tablet-width) {
    padding: 35px 55px 20px 50px;
  }
}

.care-list__item-title {
  margin: 0 0 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  color: $lightBrown;
}

.care-list__item-text {
  margin: 0;
}

.care-list__item-button {
  width: 46px;
  flex-shrink: 0;
  border: 0;
  outline: none;
  background-color: $lightBrown;

  @media (min-width: $tablet-width) {
    width: 60px;
  }
}

.team {
  padding: 60px 0;
  text-align: center;
  background-color: $black;

  @media (min-width: $tablet-width) {
    padding: 85px 0 215px;
  }

  @media (min-width: $desktop-width) {
    padding: 85px 0 95px;
  }
}

.team__title {
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.team__description {
  margin: 0 0 100px;

  @media (min-width: $tablet-width) {
    max-width: 510px;
    margin: 0 auto 45px;
  }
}

.employee-comment {
  margin: 0;
  background-color: $lightBlack;
  padding: 2px 11px 16px;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 600px;
    margin: 0 auto;
    padding: 70px 95px 75px 106px;
    box-sizing: border-box;
    text-align: left;

    br {
      content: ' ';
    }

    br::after {
      content: ' ';
    }

    &::before {
      content: "";

      position: absolute;
      top: -23px;
      left: -25px;

      width: 109%;
      height: 113%;
      border: 1px solid rgba(160, 123, 80, 0.43);
      box-sizing: border-box;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 112px 0 auto;
  }
}


.employee-slider {
  position: relative;
  width: 174px;

  @media (min-width: $tablet-width) {
    width: 290px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 356px;
  }
}

.employee-comment__slider {
  margin: -66px auto 25px;

  @media (min-width: $tablet-width) {
    margin: 0;

    position: absolute;
    right: -8px;
    bottom: -119px;
  }

  @media (min-width: $desktop-width) {
    top: -23px;
    left: -460px;
  }
}

.employee-slider__img {
  display: flex;
  justify-content: center;
}

.employee-slider__button {
  @extend .pets-slider__button;

  &--right {
    @extend .pets-slider__button--right;

    @media (min-width: $desktop-width) {
      right: -573px;
      transform: translateY(-50%);
    }
  }

  &--left {
    @extend .pets-slider__button--left;

    @media (min-width: $desktop-width) {
      left: -73px;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    top: 50%;
    bottom: initial;
  }
}

.employee-comment__author {
  display: inline-block;
  margin: 0 0 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  color: $lightBrown;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.employee-comment__position {
  margin: 0 0 20px;

  font-weight: normal;
  color: $lightBrown;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.employee-comment__text {
  margin: 0 0 25px;
  opacity: 0.72;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.employee-comment__social-list {
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;

    .social-list__item {
      &--fb svg {
        width: 8px;
        height: auto;
      }

      &--tw svg {
        width: 20px;
        height: auto;
      }

      &--vk svg {
        width: 21px;
        height: auto;
      }
    }
  }
}

.faq {
  padding: 60px 0;
  text-align: center;
  
  @media (min-width: $tablet-width) {
    padding: 135px 0 85px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 90px;
  }
}

.faq__title {
  margin: 0 0 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.faq__description {
  margin: 0 auto 40px;
  max-width: 185px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
    max-width: 450px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px ;
  }
}

.faq-list {
  list-style: none;
  margin: 0 0 -30px;
  padding: 0;
  counter-reset: faq;
}

.faq-list__item {
  margin-bottom: 30px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0 27px 25px 131px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 127px 37px 264px;
  }
}

.question-block {
  display: flex;
  border: 1px solid #544332;

  @media (min-width: $tablet-width) {
    position: relative;
    counter-increment: faq;

    min-height: 76px;

    &::before {
      content: "0" counter(faq);

      position: absolute;
      left: -81px;
      top: 50%;
      transform: translateY(-50%);

      font-family: inherit;
      font-weight: 700;
      font-size: 50px;
      line-height: normal;
      color: #A07B50;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;

    &::before {
      font-size: 70px;
      left: -100px;
    }
  }
}

.question-block__question {
  flex-grow: 1;
  padding: 15px 10px 15px 15px;
  margin: 0;

  font-weight: 500;
  color: #DDD0C3;

  @media (min-width: $tablet-width) {
    align-self: center;
    padding: 18px 70px 15px 29px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 43px;
  }
}

.question-block__button {
  width: 43px;
  flex-shrink: 0;
  background: transparent url("../images/plus.svg") no-repeat center;
  border: none;
  border-left: 1px solid #544332;
  cursor: pointer;

  &--active {
    background-color: $lightBrown;
    background-image: url(../images/minus.svg);
  }

  @media (min-width: $tablet-width) {
    width: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 104px;
  }
}

.answer-block {
  border: 1px solid #544332;
  padding: 10px 25px 10px 15px;

  @media (min-width: $tablet-width) {
    padding: 26px 142px 27px 29px;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 203px 35px 43px;
  }
}

.answer-block__answer {
  margin: 0 0 15px;
  color: #DDD0C3;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.reviews {
  padding: 0 0 60px;

  @media (min-width: $tablet-width) {
    padding-bottom: 87px;
  }
}

.reviews__title {
  margin: 0 0 143px;
}

.reviews-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review {
  position: relative;
  padding: 118px 31px 40px;
  margin: 0;
  background-color: $black;

  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 578px;
    margin: 0 auto;
    padding-top: 148px;
  }
}

.review-slider {
  position: absolute;
  top: -83px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  @media (min-width: $tablet-width) {
    top: -95px;
  }
}

.review-slider__button {
  @extend .pets-slider__button;

  &--right {
    @extend .pets-slider__button--right;
    background: url("../images/arrow.svg") no-repeat center;
    width: 8px;
  }

  &--left {
    @extend .pets-slider__button--left;
    background: url("../images/arrow.svg") no-repeat center;
    width: 8px;


  }
  @media (min-width: $tablet-width) {
    bottom: 58px;
    top: auto;

    &--right {
      background: url("../images/tablet-arrow.svg") no-repeat center;
      width: 59px;
      height: 16px;
      right: 43px;
      transform: rotate(180deg);
    }

    &--left {
      background: url("../images/tablet-arrow.svg") no-repeat center;
      width: 59px;
      height: 16px;
      left: 51px;
      transform: none;
    }
  }
}

.review__author {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;

  display: inline-block;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.review__text {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 407px;
    margin: 0 auto 35px;
  }
}

.meta-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list--bordered .social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  margin-right: 15px;
  border: 1px solid rgba(160, 123, 80, 0.27);
  box-sizing: border-box;

  &:last-child {
    margin-right: 0;
  }
}

.review__meta-row {
  max-width: 178px;
  margin: 0 auto;
}

.meta-row time {
  font-weight: normal;
  font-size: 12px;
  color: $lightBrown;
}