@import "variables";
@import "fonts";

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  background-color: $lightBlack;
  overflow: hidden;
}

.container {
  width: 290px;
  padding: 0 15px;
  margin: 0 auto;
  
  @media (min-width: $tablet-width) {
    padding: 0 29px;
    width: 710px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
    width: 1184px;
  }
}

.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.button {
  display: inline-block;
  border: 1px solid #A07B50;
  padding: 15px 18px 16px;

  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding: 18px 35px 17px;
  }
}

.section-title {
  margin: 0;

  font-family: "Yeseva One", "Georgia", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: normal;
  text-align: center;
}

.header {
  position: relative;
  text-align: center;
  padding: 27px 0 256px;
  background-color: $black;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 28px 0 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 0 114px;
  }
}

.header__inner {
  position: relative;
  @media (min-width: $desktop-width) {
    padding-left: 111px;
  }
}

.logo {
  display: block;
}

.header__logo {
  margin: 0 0 57px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 114px;
  }
}

.header__city {
  margin: 0 0 20px;

  font-weight: 400;
  line-height: 1.5;
  color: #A07B50;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 18px;
  }
}

.main-title {
  margin: 0 0 25px;

  font-family: "Yeseva One", "Georgia", serif;
  font-size: 36px;
  line-height: normal;


  @media (min-width: $tablet-width) {
    font-size: 52px;
    margin-bottom: 22px;
  }
}

.header__description {
  margin: 0 0 40px;

  font-weight: 400;
  line-height: 1.4;
  color: #A07B50;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
  
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.header__button-more {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.header__cat-photo {
  display: block;

  position: absolute;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 62px;
  }

  @media (min-width: $desktop-width) {
    top: -0;
    right: -49px;
  }
}

.social-list {
  display: none;

  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header__social-list {
  @media (min-width: $desktop-width) {
    flex-direction: column;
    position: absolute;
    left: -15px;

    &::before {
      content: "";

      width: 1px;
      height: 77px;

      position: absolute;
      top: -109px;
      left: 5px;
      background-color: #fff;
    opacity: 0.6;
    }
  }
}

.social-list__item {
  margin-right: 11px;

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}