@import "variables";
@import "fonts";

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  background-color: $lightBlack;
}

.container {
  width: 290px;
  padding: 0 15px;
  margin: 0 auto;
  
  @media (min-width: $tablet-width) {
    padding: 0 29px;
    width: 710px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
    width: 1184px;
  }
}

.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.button {
  display: inline-block;
  border: 1px solid #A07B50;
  padding: 15px 18px 16px;

  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding: 18px 35px 17px;
  }
}

.section-title {
  margin: 0;

  font-family: "Yeseva One", "Georgia", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  
  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.section-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #A07B50;
  
  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.header {
  position: relative;
  text-align: center;
  padding: 27px 0 256px;
  background-color: $black;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 28px 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 0 114px;
  }
}

.header__inner {
  position: relative;
  @media (min-width: $desktop-width) {
    padding-left: 111px;
  }
}

.logo {
  display: block;
}

.header__logo {
  margin: 0 0 57px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 114px;
  }
}

.header__city {
  margin: 0 0 20px;

  font-weight: 400;
  line-height: 1.5;
  color: #A07B50;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 18px;
  }
}

.main-title {
  margin: 0 0 25px;

  font-family: "Yeseva One", "Georgia", serif;
  font-size: 36px;
  line-height: normal;


  @media (min-width: $tablet-width) {
    font-size: 52px;
    margin-bottom: 22px;
  }
}

.header__description {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
  
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.header__button-more {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.header__cat-photo {
  display: block;

  position: absolute;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 62px;
  }

  @media (min-width: $desktop-width) {
    top: -0;
    right: -49px;
  }
}

.social-list {
  display: none;

  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header__social-list {
  @media (min-width: $desktop-width) {
    flex-direction: column;
    position: absolute;
    left: -15px;

    &::before {
      content: "";

      width: 1px;
      height: 77px;

      position: absolute;
      top: -109px;
      left: 5px;
      background-color: #fff;
    opacity: 0.6;
    }
  }
}

.social-list__item {
  margin-right: 11px;

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.pets {
  padding: 60px 0;
  text-align: center;
  
  @media (min-width: $tablet-width) {
    padding: 100px 0 91px;
  }

  @media (min-width: $desktop-width) {
    padding: 223px 0 83px;
  }
}

.pets__title {
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.pets__description {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    max-width: 522px;
    margin: 0 auto 40px;
  }
}

.pets-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pets-list__item {
  margin-right: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  opacity: 0.2;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  &:hover {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}

.pets__pets-list {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.pets__pets-slider {
  margin: 0 0 12px;
  @media (min-width: $desktop-width) {
    padding-left: 72px;
  }
}

.pets-slider {
  position: relative;
}

.pets-slider__photo {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 3;
    display: inline-block;
    text-align: left;

    margin-right: 34px;
    margin-bottom: 19px;
  }
  &--bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      position: static;
      transform: none;
    }
  }

  &--left {
    left: 36px;
  }

  &--right {
    right: 67px;
  }
}


.cat-gallery {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 552px;
    margin-right: -34px;

  }
}

.pets-slider__button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;

  padding: 0;

  background: none;
  border: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }


  &--left {
    left: 0;
    padding-left: 5px;
    transform: rotate(180deg);
  }

  &--right {
    right: 0;
    padding-left: 5px;
  }
}

.pets-slider__button svg {
  display: block;
}

.breed-features {
  padding: 0 0 60px;
  text-align: center;
  
  @media (min-width: $tablet-width) {
    padding: 0 0 73px;
  }
}

.breed-features__title {
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.breed-features__description {
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    max-width: 450px;
    margin: 0 auto 51px;
  }

  @media (min-width: $tablet-width) {
    max-width: 735px;
    margin: 0 auto 34px;
  }
}

.breed-features__wrapper {
  position: relative;
}

.breed-features__img {
  margin: 0 0 40px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.breed-features-list {
  margin: 0 0 -30px;
  padding: 0;
  list-style: none;
  text-align: left;
}

.breed-features-list__item {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;

  &::before {
    content: "";

    width: 8px;
    height: 8px;
    flex-shrink: 0;
    background-color: $lightBrown;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;

    line-height: inherit;
    
    @media (min-width: $desktop-width) {
      width: 15px;
      height: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    line-height: 1.5;

    &:nth-child(1) {
      max-width: 170px;
      left: 15px;
      top: 116px;
      flex-direction: row-reverse;
      text-align: right;

      &:before {
        margin: 0 0 0 15px;
      }
    }

    &:nth-child(2) {
      max-width: 150px;
      right: 5px;
      top: 189px;

      &:before {
        margin: 0 13px 0 0;
      }
    }

    &:nth-child(3) {
      max-width: 122px;
      right: 46px;
      bottom: 60px;

      &:before {
        margin: 0 11px 0 0;
      }
    }

    &:nth-child(4) {
      max-width: 152px;
      left: 5px;
      bottom: 95px;
      flex-direction: row-reverse;
      text-align: right;

      &:before {
        margin: 0 0 0 11px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    line-height: 1.5;

    &:nth-child(1) {
      max-width: 290px;
      left: 45px;
      top: 172px;
      flex-direction: row-reverse;
      text-align: right;

      &:before {
        margin: 0 0 0 23px;
      }
    }

    &:nth-child(2) {
      max-width: 195px;
      right: 94px;
      top: 283px;

      &:before {
        margin: 0 20px 0 0;
      }
    }

    &:nth-child(3) {
      max-width: 175px;
      right: 150px;
      bottom: 125px;

      &:before {
        margin: 0 18px 0 0;
      }
    }

    &:nth-child(4) {
      max-width: 230px;
      left: 75px;
      bottom: 176px;
      flex-direction: row-reverse;
      text-align: right;

      &:before {
        margin: 0 0 0 17px;
      }
    }
  }
}

.breed-features__list {
  @media (min-width: $tablet-width) {
    min-height: 470px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 700px;
  }
}

.features {
  padding: 60px 0;
  text-align: center;
  background-color: $black;
  
  @media (min-width: $tablet-width) {
    padding: 84px 0 100px;
  }
}

.features__title {
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.features__description {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 58px;
    max-width: 450px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    max-width: 735px;
  }
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0 0 -30px;

  @media (min-width: $tablet-width) {
    margin-bottom: -42px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    margin-right: -28px;
  }
}

.features-list__item {
  display: flex;

  min-height: 248px;
  padding: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: $lightBlack;
  
  &:hover .features-list__inner {
    background-color: $lightBrown;
  }

  &--med .features-list__inner {
    background: url("../images/features-1.svg") no-repeat center top 40px;

    @media (min-width: $tablet-width) {
      background-size: 97px;
    }
  }

  &--cons .features-list__inner {
    background: url("../images/features-2.svg") no-repeat center top 48px;

    @media (min-width: $tablet-width) {
      background-size: 107px;
    }
  }

  &--feed .features-list__inner {
    background: url("../images/features-3.svg") no-repeat center top 40px;

    @media (min-width: $tablet-width) {
      background-size: 70px;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 360px;
    min-height: 306px;
    padding: 17px 20px;
    margin: 0 auto 42px;

    font-size: 16px;
    line-height: 1.6;
  }

  @media (min-width: $desktop-width) {
    margin: 0 28px 42px 0;
  }
}

.features-list__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 30px;

  @media (min-width: $tablet-width) {
    padding: 40px;
  }
}

.cat-care {
  padding: 60px 0;
  background: url("../images/cat-care.jpg") no-repeat center;
  background-size: cover;
  
  @media (min-width: $tablet-width) {
    padding: 90px 0 105px;
  }
}

.cat-care__title {
  margin: 0 0 40px;
}

.care-list {
  list-style: none;
  margin: 0 0 -30px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: -25px;
  }
}

.care-list__item {
  display: flex;

  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.3);

  @media (min-width: $tablet-width) {
    max-width: 558px;
    min-height: 168px;
    margin: 0 auto 25px;
  }
}

.care-list__item-inner {
  padding: 25px 5px 25px 25px;

  @media (min-width: $tablet-width) {
    padding: 35px 55px 20px 50px;
  }
}

.care-list__item-title {
  margin: 0 0 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  color: $lightBrown;
}

.care-list__item-text {
  margin: 0;
}

.care-list__item-button {
  width: 46px;
  flex-shrink: 0;
  border: 0;
  outline: none;
  background-color: $lightBrown;

  @media (min-width: $tablet-width) {
    width: 60px;
  }
}

.care-list__item-button svg {
  @media (min-width: $tablet-width) {

  }
}